/* Make TOC panel scrollable */
.md-sidebar--secondary .md-sidebar__scrollwrap {
  max-height: calc(100vh - 7rem);
  overflow: auto;
}

/* Simple [+]/[-] styling */
.md-sidebar--secondary .toc-expander {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
  margin-right: 0.25rem;
  cursor: pointer;
  user-select: none;
}