*.pyc
__pycache__
.pytest_cache
.ipynb_checkpoints/

.coverage
coverage.xml
.tox
.mypy_cache
htmlcov

docs/_build
docs/**/_autosummary
docs/**/*.ipynb
docs/gettingstarted/test.json

.vscode
venv*/
loqs.egg-info/
build/
src/
status

.DS_Store
**/.ipynb_checkpoints/
