*.pyc
__pycache__
.pytest_cache
.ipynb_checkpoints/

.coverage*
coverage.xml
.tox
.mypy_cache
htmlcov

.env
.opencode
.ralph/*.json

docs/_build
docs/**/_autosummary
docs/**/*.ipynb
docs/**/*.json
docs/**/*.json.gz

checkpoints/

.vscode
venv*/
loqs.egg-info/
build/
src/
status
test_runner.py

.DS_Store
**/.ipynb_checkpoints/
